$rojo: #BE1E2C;
$rojo2: #f84c58;
.debug{
  border: 1px solid $rojo;
}
.dummy{
  width: 0px;
  height: 0px;
  margin: 0px !important;
}
#sob-container{
  position: relative;
  .sob-box-product{
    position: relative;
    padding: 10px;
    .sob-title{
      text-align: center;
      font-size: 18px;
    }
    .sob-content{
      border:2px dashed $rojo;
      padding:25px 15px;
      margin-bottom: 20px;
      .sob-add-to-cart{
        display: flex;
        margin-bottom: 15px;
        background-color: rgba($rojo2,.3);
        color: #961b21;
        font-size: 16px;
        padding: 15px ;
        input{
          margin-right: 10px;
          transform: scale(1.2);
        }
      }
      .sob-product{
        display: flex;
        .sob-image{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 105px;
          }
        }
        .sob-product-info{
          padding-left: 10px;
          .sob-product-title{
            margin-bottom:5px;
            font-size: 16px;
            font-weight: 600;
          }
          .sob-product-description{
            margin: 0px;
            font-size: 14px;
            line-height: 1em;
          }
        }
      }
    }
  }
}